<% include ./partials/header %>
<header class="jumbotron">
    <h1 class="col-xs-12"><i class='fa fa-hotel' style='font-size:60px'></i> About Hotel Duniya</h1>
    <p>Hotel Duniya is web application created using Node.js as a backend technology!!!</p>
</header>
<div class="col-sm-12 abc card" style='font-size:40px;'><center>Features</center></div>
<div class="col-sm-12 card" style='font-size:40px;height:30px;'></div>
<div class="col-sm-4 abc card" style="padding-top: 13px;height: 230px;" ><b><i><center>Authentication</center></i></b><br>
    <p><center>
        User login with username and password<br><br>
        Admin sign-up with admin code<br><br>
        Flash messages responding to users' interaction with the app
    </center></p>
</div>
<div class="col-sm-3 abc sss card" ><b><i><center>Authorization</center></i></b><br>
    <p><center>
        One cannot manage posts and view user profile without being authenticated<br><br>
        One cannot edit or delete posts and comments created by other users<br><br>
        Admin can manage all posts and comments
    </center></p>
</div>
<div class="col-sm-4 abc sss  card" ><b><i><center>Manage Posts</center></i></b><br>
    <p>
        <center>
            Create, edit and delete posts and comments<br><br>
            Upload campground photos<br><br>
            Search existing campgrounds
        </center>
    </p>
</div>
<div class="col-sm-12 card" style='font-size:40px;height:30px; '></div>
<div class="col-sm-12 abc card" style='font-size:40px;'><center>Technology used</center></div>
<div class="col-sm-12 card" style='font-size:40px;height:30px;'></div>
<div class="col-sm-5 abc card" style="padding-top: 13px;height: 380px;" ><b><i><center>Front End</center></i></b><br>
    <p><center>
        HTML <br><br>
        css<br><br>
        Bootstrap<br><br>
        ejs<br><br>
        javascript<br><br>

    </center></p>
</div>
<div class="col-sm-6 abc ss card" ><b><i><center>Back End</center></i></b><br>
    <p><center>
            express<br><br>
            mongoDB<br><br>
            mongoose<br><br>
            passport<br><br>
            passport-local<br><br>
            express-session<br><br>
            moment<br><br>
            connect-flash
    </center></p>
</div>

<div class="col-sm-12 card" style='font-size:40px;height:30px;'></div>
<div class="col-sm-12 abc card" style='font-size:30px;'>To Clone or download this repository <a  target="_blank" href="https://github.com/kishankunal/HotelDuniya">Click here</a></div>





<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<% include ./partials/footer %>