<% include ./partials/header %>
<header class="jumbotron">
    <h1 class="col-xs-12"><i class='fa fa-hotel' style='font-size:60px'></i> Contact Hotel Dunia</h1>
    <p>This project 'Hotel Duniya' is licensed under Apache License 2.0</p>
</header>

    <div class="img-thumbnail card col-sm-12">
        <img src="\images\kishan.png" alt="Kishan Kunal" >
        <div class="caption cde">Kishan Kunal</div>
        
    </div>
    <div class="aboutus card col-sm-12">
            <p >This project <a href="https://github.com/kishankunal/HotelDuniya">Hotel Duniya</a> is developed by me as my summer training project. </p>
            <p >Hotel Duniya is an application for a fictional start up that allows you to add Hotels for other users to comment and rate, and view Hotels added by other users.</p>
            <p ><b><i><center>Contact Details</center> </i></b></p>
            <div class="contact">
                <i class='fas fa-mobile-alt' style='font-size:24px'></i>
                <span style="padding-left:30px; padding-top:0px">
                        <a href="tel:+918340501972">+91-8340501972</a>
                </span>
            </div><br>
            <div class="contact">
                    <i class='fas fa-mail-bulk' style='font-size:24px'></i>
                    <span style="padding-left:30px; padding-top:0px">
                            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=kishankunal15@gmail.com" target="_blank">kishankunal15@gmail.com</a>
                    </span>
            </div><br>
            <div class="contact">
                    <i class='fab fa-facebook-square' style='font-size:24px'></i>
                    <span style="padding-left:30px; padding-top:0px">
                            <a href="https://www.facebook.com/imkishankunal" target="_blank">imkishankunal</a>
                    </span>
            </div><br>
            <div class="contact">
                    <i class='fab fa-linkedin' style='font-size:24px'></i>
                    <span style="padding-left:30px; padding-top:0px">
                            <a href="https://www.linkedin.com/in/kishan-kunal/" target="_blank">kishan-kunal</a>
                    </span>
            </div><br> 
            <div class="contact">
                    <i class='fab fa-whatsapp' style='font-size:24px'></i>
                    <span style="padding-left:30px; padding-top:0px">
                            <a href="https://wa.me/918340501972?text=Hey%20Kishan,%20" target="_blank">Kishan Kunal</a>
                    </span>
            </div><br> 
            <div class="contact">
                    <i class='fab fa-github' style='font-size:24px'></i>
                    <span style="padding-left:30px; padding-top:0px">
                            <a href="https://github.com/kishankunal" target="_blank">kishankunal</a>
                    </span>
            </div><br> 
            <div class="contact">
                    <i class='fas fa-map-marker-alt' style='font-size:24px'></i>
                    <span style="padding-left:30px; padding-top:0px">
                            <a href="https://goo.gl/maps/FrnXXa7yQhXQmigX6" target="_blank">Lovely Professional University Phagwara Punjab</a>
                    </span>
            </div><br> 
           
    </div>
</div>
    



<% include ./partials/footer %>